@model IEnumerable<AspirantesApp.Models.ViewModels.AspirantesDetalleViewModel>
@{
    ViewBag.Title = "Aspirantes Inscritos";
}

<div class="right-container">
    <h2>Aspirantes</h2>
    <h6 class="headline">Aprobación de documentos de soporte</h6>
    @Html.DevExpress().Button(settings =>
    {
        settings.Name = "ButtonExportExcel";
        settings.Text = "Excel";
        settings.Images.Image.IconID = "xaf_action_export_toxls_svg_32x32";
        settings.ImagePosition = ImagePosition.Left;
        settings.UseSubmitBehavior = true;
        settings.GroupName = "buttonsToExport";
        settings.Width = System.Web.UI.WebControls.Unit.Pixel(100); // Ajusta el ancho según sea necesario
    }).GetHtml()


    @Html.DevExpress().Button(settings =>
    {
        settings.Name = "ButtonExportPDF";
        settings.Text = "PDF";
        settings.Images.Image.IconID = "diagramicons_exporttopdf_svg_32x32";
        settings.ImagePosition = ImagePosition.Left;
        settings.UseSubmitBehavior = true;
        settings.GroupName = "buttonsToExport";
        settings.Width = System.Web.UI.WebControls.Unit.Pixel(100); // Ajusta el ancho según sea necesario
    }).GetHtml()
</div>


    @Html.Partial("_GridViewPartial", Model)
